<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <Title>Sign Up</Title>
</head>
<style>

</style>

<body>
<div class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- <a class="navbar-brand" href="#">Decagon</a> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link h4" href="#">EventsManager<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="py-5">
        <form class="col-12 col-md-8 mr-auto ml-auto sign-in-form" action="#" th:action="@{/auth/signup}"
              th:object="${user}" method="POST">
            <div class="text-center text-success" th:if="${flashMessage != null}" th:text="${flashMessage}"></div>
            <div class="text-center text-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
            <div class="row">
                <div class="col-6 form-group">
                    <input type="text" required name="firstname-reg" th:field="*{firstName}" class="form-control"
                           placeholder="First name">
                </div>
                <div class="col-6 form-group">
                    <input type="text" required name="lastname-reg" th:field="*{lastName}" class="form-control"
                           placeholder="Last name">
                </div>
                <div class="col-6 form-group">
                    <input type="email" required name="email-reg" th:field="*{email}" class="form-control"
                           placeholder="Email address">
                </div>
                <div class="col-6 form-group">
                    <input type="tel" required name="mobile-reg" th:field="*{contact}" class="form-control"
                           placeholder="Mobile number">
                </div>
                <div class="col-6 form-group">
                    <input id="password" type="password" class="form-control" name="password-reg" th:field="*{password}"
                           required placeholder="New password" aria-describedby="passwordHelpBlock" minlength="8">
                </div>
                <div class="col-6 form-group">
                    <input id="confirm-password" type="password" class="form-control" required name="confirm-password-reg"
                           placeholder="Confirm password" aria-describedby="passwordHelpBlock" minlength="8">
                </div>
                <small class="col-12 form-text text-muted" id="passwordHelpBlock">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not
                    contain spaces, special characters, or emoji.
                </small>
                <div class="col-12 form-group">
                    <label style="font-size: 0.8rem;" class="text-muted" for="reg-birthdate">Date of
                        Birth</label>
                    <input type="date" id="reg-birthdate" max="2004-01-01" required class="form-control" name="birthdate-reg"
                           th:field="*{dob}" placeholder="dd/mm/yyyy">
                </div>

                <div class="col-12">
                    <label style="font-size: 0.8rem;" class="text-muted">Gender</label>
                </div>
                <div class="col-4 form-group mr-2 custom-radio">
                    <label class="radio-label text-muted" for="genderMale">Male</label>
                    <input type="radio" value="Male" th:field="*{gender}" required id="genderMale" name="sex-reg"
                           class="radio-button">
                </div>
                <div class="col-4 form-group custom-radio">
                    <label class="radio-label text-muted" for="genderFemale">Female</label>
                    <input type="radio" value="Female" th:field="*{gender}" required id="genderFemale" name="sex-reg"
                           class="radio-button">
                </div>

            </div>
            <small class="form-text text-muted">
                By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS
                notifications from us and can opt out at any time.
            </small>
            <div class="">
                <button type="submit" class="btn btn-success btn-block">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/script/action.js}"></script>
</body>

</html>